{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h1>Short summary of the project:</h1>
            <ul>
                <li>The project was designed to handle entire dataflow in the hospital. Unfortunately the model of a hospital is very simplified.
                    The drug therapies, surgical operations, symptoms, possible symptoms and different roles for users are not yet implemented.
                    I hope to come back to this topic in the future.   </li>

                <li>The application allows to control:
                    <ul>
                        <li>doctors' and patients' personal information</li>
                        <li>organisational structure of hospitals and wards</li>
                        <li>history of patients' diseases and stays in the hospital wards </li>
                    </ul>
                </li>
                <li>List of technical stuff worth to notice in the project:
                    <ul>
                        <li>Forms to fill the tables. Fields for the variables with 'NOT NULL' flag send a notification when they are leaved empty.
                            Used solutions: flask's data validator.</li>
                        <li>Search forms are kind of user friendly. If you leave the field empty, the variable doesn't take part in the selection.
                            Otherwise the conjunction of all conditions is returned. Heroku disallows too long output so don't search for too much objects at once.
                            Used solutions: plpgsql functions.</li>
                        <li>Update forms raise the exception and shows the flash communicate if the integrity of the database is in danger.
                            The text of communicate is not always in tune with reality, but it shows that input data are wrong. If you don't specify
                            new primary key the old one is kept. Used solutions exceptions. </li>
                        <li>In statistics page there are some simple summaries of wards' capacity, number of different diseases
                            among patients and doctors' occupance. Used solutions: views, agregate functions, group by clause.  </li>
                    </ul>
                </li>
                <li>It's my first web application, forgive me the look of it.</li>
                <li> <a class="nav-item nav-link" href="https://github.com/Pawel-Drabczyk/Hospital-Database-Application.git">The link to the github repository</a></li>
                <li>The documentation can be found in github repository. </li>
            </ul>
    </div>
{% endblock content %}
