{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h3> List of possible actions with medical conditions:</h3>
        <a class="nav-item nav-link" href="{{ url_for('addMedicalCondition') }}">Add Medical Condition</a>
        <a class="nav-item nav-link" href="{{ url_for('searchMedicalCondition') }}">Search for Medical Condition</a>
        <a class="nav-item nav-link" href="{{ url_for('updateMedicalCondition') }}">Update Medical Condition</a>
    </div>
{% endblock content %}
